<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissões necessárias para enviar Notificação -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!--
        A linha <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> no arquivo
         AndroidManifest.xml é uma declaração de permissão necessária para que o seu aplicativo possa
         usar serviços em primeiro plano (foreground services) no Android.
    -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_REMOTE_MESSAGING" />

    <!-- Garante que o dispositivo não entre em suspensão enquanto seu serviço estiver rodando. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--
        android:name=".RunningApp": Este trecho especifica o nome da classe Java que funciona como a classe
        principal (entry point) do seu aplicativo Android. Geralmente, essa classe é chamada de "Application"
        e estende a classe android.app.Application.
    -->
    <application
        android:name=".RunningApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
            Esta linha declara um serviço no Android com o nome RunningService. O atributo
            android:name indica o nome completo da classe Java que implementa esse serviço.
            No caso do exemplo dado, o serviço é implementado na classe RunningService dentro
            do pacote atual
        -->
        <service android:name=".RunningService" android:foregroundServiceType="remoteMessaging" />
    </application>

</manifest>